{% extends "template.html" %}
{% block title %}
	Nova categoria
{% endblock %}
{% block content %}
	<div class="title-container">
		<div class="back">
			<a class="btn btn-outline-info" href="/">voltar</a>
		</div>
		<div class="title">
			<h1>Nova categoria</h1>
		</div>
		<div class="empty">	</div>
	</div>
	<div class="form-container">
		<form action="{{ url_for('createCategory') }}" method="POST" accept-charset="utf-8">
			<div class="form-group mt-5">
				<label for="name">Nome</label>
				<input type="text"  class="form-control" id="name" placeholder="Nome" name="name" onClick="this.select();">
				<small id="nameHelp" class="form-text text-muted">Digite o nome da categoria</small>
			</div>
			<button class="btn btn-outline-primary" type="submit">Enviar</button>
		</form>
	</div>
{% endblock %}